/* Colors */
$dark-color: #343a40;
$hover-color: #007bff;

$white-bg-color: #fff;
$grey-bg-color: #f6f6f6;

$websites-bg-color: $grey-bg-color;
$apis-bg-color: $white-bg-color;
$apps-bg-color: $grey-bg-color;
$ml-bg-color: $white-bg-color;

$products-color: #4a5960;

$footer-bg-color: $grey-bg-color;

/* Breakpoints */
$--breakpoint-xs: 0;
$--breakpoint-sm: 576px;
$--breakpoint-md: 768px;
$--breakpoint-lg: 992px;
$--breakpoint-xl: 1200px;